.addQuestionModalContainer {
  width: 720px;
  max-width: 720px;
  height: 80vh;
  position: relative;
}
.modalActionsButtonContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
}
.successButton {
  background-color: #7bb079;
}
.dangerButton {
  background-color: #eb2929;
}
p.instructionMessage {
  font-size: 11px;
  font-weight: 400;
  margin: 0.5rem 0;
  line-height: 18px;
  color: #ff5858;

  &.instructionMessageActive {
    color: #7a73ff;
    font-size: 14px;
  }
}

.editorClassName {
  height: 120px;
}
