@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";

.default {
  color: $color_black_text;
  margin: 0px;
  padding: 0px;
}
.primary {
  color: $color_blue;
}
.grey {
  color: $color_grey;
}
.white {
  color: $color_white;
}

.required:after {
  content:" *";
  color: red;
}

.default {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: $font_sans_serif;
}

.stepperMainHeading {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0rem;
  font-weight: 500;
  font-family: $font_poppins;
  position: relative;
}

// .stepperMainHeading::after{
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: -3px;
//   height: 3px;
//   background-color: #7a73ff;
//   width: 175px;
// }
.stepperSubHeading {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: $color_light_text;
  font-family: $font_poppins;
  line-height: normal;
}

.stepperSubHeadingBold {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: $color_light_text;
  font-family: $font_poppins;
  line-height: normal;
}

.smallTableHeading {
  font-size: 11px;
  text-transform: uppercase;
  color: #797979;
  margin-bottom: 0;
}

.qsmallTableHeading {
  font-size: 11px;
  text-transform: uppercase;
  color: #797979;
  margin-bottom: 0;
  min-width: 250px;
}

.small {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-family: $font_sans_serif;
}

.label_variant {
  color: $color_grey;
}

.reviewDetailsLeft {
  color: $color_grey;
}
.error {
  font-size: 12px;
  font-style: normal;
  font-family: $font_sans_serif;
  color: $color_warning_text;
}

.large {
  font-size: 30px;
  font-style: normal;
  font-family: $font_poppins;
}
.sortText {
  font-size: small;
}
//subauditor from Reassignment page
.notice{
  width: 500px;
  color: cornflowerblue;
  font-size: 16px;
line-height: 24px;
}
.fullDay{
  margin-left: 00px;
  margin-top: -15px;
}
.firstHalfDay{
  margin-left: 0px;
  margin-top: -50px;
}
.from{
  margin-top: 20px;
}
.to{
  margin-top: -28px;
  margin-left: 320px;
}

.labels{
    font-size: 12px;
    color: #9c9c9c;
    font-weight: 400;
    font-family: Poppins;
    text-transform: capitalize;
}