@import "../../../assets/styles/colors";

.heading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $color_black_text;
  padding: 5px 0px 1px 25px;
}

.checkListMainContainer {
  background-color: $color_light_grey;
  padding: 20px;

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar {
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: $color_blue;
    border-radius: 10px;
    height: 2px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .checkListContainer {
    width: 100%;
    border: 1px solid $color_dark_skyblue;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: $color_white;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    .sectionContainer {
      background: $color_light_grey;
      padding: 10px;
      border-radius: 10px;
      margin-top: 10px;
    }
    .sectionName {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      svg {
        font-size: 15px;
      }
    }
    .checkListInputContainer {
      padding-bottom: 20px;
      position: relative;

      .checkListInputs {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        // justify-content: space-between;
        border-bottom: 2px dashed $color_white;
        .inputField {
          margin-top: 5px;
          padding-right: 10px;
        }
        .addFileButton {
          padding-right: 10px;
          margin-top: 2px;
        }
        .inputCount {
          margin-top: 25px;
          margin-right: 10px;
        }
      }
    }

    .addNewContainer {
      margin-top: 20px;
      margin-left: 10px;
      display: flex;

      .addNew {
        cursor: pointer;
        span {
          padding-right: 10px;
        }
      }
    }
  }

  .addNewCheckList {
    display: flex;
    background-color: $color_white;
    border-radius: 10px;
    padding: 8px 10px 6px 21px;
    p {
      margin: 5px;
    }

    svg {
      font-size: 25px;
      color: $color_primary;
      cursor: pointer;
    }
  }
}

.saveTemplate {
  button {
    margin-top: 20px;
  }
}
.smallInputField {
  max-width: 100% !important;
  min-width: 50px !important;
}
.smallSelectField {
  max-width: 100% !important;
  min-width: 80px !important;
  width: 100%;
}

.fieldActions {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  svg {
    font-size: 20px;
    padding: 2px;
    margin: 0 0.5rem;
    cursor: pointer;
    background: $color_delete_light_gray;
    color: $color_delete_gray;
  }
  .fieldActionsEditButton {
    font-weight: 500;
    font-size: 1.5rem;
    background-color: transparent;
  }
  .fieldActionsEditButtonActive {
    color: $color_primary;
  }
  .saveButton {
    font-size: 12px;
    font-weight: 500;
    color: $color_primary;
    // background-color: ;
    border: none;
    text-transform: uppercase;
  }
}
